form{
    display: flex;
    flex-direction: column;

    color: var(--dark-color);
    flex-grow: 1;
    width: 100%;
}
input{
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    padding: 2px 5px;
}
select {
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    width:200px;
}

.board-filter form {
    flex-direction: row;
    justify-content: space-between;
}
form>*{
    display: inline-block;
}

input[type='submit'] {
    background-color: transparent;
}
input[type='submit']:hover {
    background-color: var(--main-color);
    color:#fff;
    border: #0b91cf;
}

.modal-body form *{
    margin-bottom: 10px;
}

form[name='create-card'] * {
    width: 100%;
}

form[name='create-card'] input[type='submit'] {
    width:25%;
}

form[name='edit-card'] * {
    width: 100%;
}

form[name='edit-card'] input[type='submit'] {
    width:25%;
}