@import "form.css";

* {
    box-sizing: border-box;
}

:root {
    --main-color: #0b91cf;
    --dark-color: #02141c;
}

.header-row {
    height: 150px;
}

.logo {
    height: 80%;
}

.header-btn {
    width: 100px;
    height: 50px;
    color: var(--dark-color);
}

.board-filter {
    box-shadow: 0 4px 20px -15px #888888;
}

.filter-row {
    height: fit-content;
    background-color: #ffffff;
}

.filter-form {
    height: 25vh;
}

.card-board {
    background-color: #dcdfe1;
    height: fit-content;
    min-height: calc(100vh - 260px);
    padding-bottom: 30px;
}

.onpage-card {
    width: 30%;
    height: fit-content;
    min-height: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px -15px #888888;
    min-width: 300px;
    margin-top: 30px;
    padding: 15px;
}

/* .onpage-card:not(:nth-child(3n)){
    margin-right: 5%;
} */

.collapse {
    margin-bottom: 10px;
}

.card-button-container {
    width: 80%;
}

.font-icon::before {
    font-size: 32px;
}

.error-message {
    font-size: 12px;
    color: red;
}

.nocards-added-message-cover {
    width: 100%;
    height: 150px;
}

.own-card-style {
    width: 90%;
    max-width: 300px;
    margin: 0;
}

.nocards-added-message {
    font-size: 20px;
    color: grey;
}